<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tippytippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B898F8D21FF618F500700B0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B898F8E61FF618F600700B0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B898F8F11FF618F600700B0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
